@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, html {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    background-color: rgb(27, 30, 35);
    color: white;
}

h1, h2, h3, h4, body, html {
    margin: 0;
}

h3 {
    text-decoration: underline;
}

.container {
    padding-left: 1.5rem;
    margin-top: 1.5rem;
}

.info {
    margin-top: 2rem;
}

.experiences {
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.experiences > div, .education > div {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.date {
    font-style: italic;
}